<a href="https://colab.research.google.com/github/ImSumitJadhav/Python/blob/main/Lists_datatype_Interview_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Python program to interchange first and last elements in a list
def swapcase(l):
  first=l[0]
  last=l[-1]
  l[0]=last
  l[-1]=first
  return l


l=[1,2,3,4,5,6]
swapcase(l)
print(l)

[6, 2, 3, 4, 5, 1]

In [2]:
#Python Program to Swap Two Elements in a List
def swapcase(l):
  first=l[0]
  second=l[2]
  l[0]=22
  l[2]=33
  return l


l=[1,2,3,4,5,6]
swapcase(l)
print(l)

[22, 2, 33, 4, 5, 6]

In [3]:
#Swap elements in String list

l=["my","name","Sumit"]

new_list=[sub.replace("m","M").replace("n","N") for sub in l]

new_list

['My', 'NaMe', 'SuMit']

In [4]:
#Find Maximum of two numbers in Python
a=89
b=22

if a>b:
  max_num=a
elif b>a:
  max_num=b
else:
  print("same number")

max_num

89

In [5]:
#Minimum of two numbers in Python
a=89
b=22

if a<b:
  min_num=a
elif b<a:
  min_num=b
else:
  print("same number")

min_num

22

In [6]:
#Check if element exists in list in Python

l=[1,2,3,4,5,6,7]

4 in l

True

In [7]:
#Different ways to clear a list in Python

l=[1,2,3,4,5,6,7]
l.clear()
print(l)

[]

In [8]:
#Reversing a List in Python

l=[1,2,3,4,5,6,7]
l.reverse()
l

[7, 6, 5, 4, 3, 2, 1]

In [9]:
#Reversing a List in Python

l=[1,2,3,4,5,6,7]
n_list=l[::-1]
n_list

[7, 6, 5, 4, 3, 2, 1]

In [10]:
#Cloning or Copying a list
l=[1,2,3,4]

copy1=l[:]

copy2=l.copy()

copy3=l

list1=[]
copy4=list1.extend(l)

In [11]:
#Count occurrences of an element in a list

#way1
l=[1,2,3,4,5,6,7,2,2]

c1=l.count(2)
print(c1)

#way2
l=[1,2,3,4,5,6,7,2,2]
x=2
c=0
for i in l:
  if i==2:
    c=c+1
  else:
    pass

print(c)

#way3
import pandas as pd
count = pd.Series(l).value_counts()
print(count)

3
3
2    3
1    1
3    1
4    1
5    1
6    1
7    1
dtype: int64

In [12]:
from numpy.lib.function_base import average
#Find sum and average of List in Python

l=[1,2,3,4,5,6,7,2,2]

sum1=sum(l)
print("sum is- ",sum1)

avr1=average(l)
print("Average is- ",avr1)

sum is-  32
Average is-  3.5555555555555554

In [13]:
#Sum of number digits in List

l=[17,22,33,4,54,66,70,62,72]
m=[]
for i in l:
  i=str(i)
  c=0
  for n in i:
    c=c+int(n)
  m.append(c)

print(m)

[8, 4, 6, 4, 9, 12, 7, 8, 9]

In [14]:
#Python program to find largest number in a list
l=[17,22,33,4,54,66,70,62,72]

#way1
a1=max(l)
a1

#way2
l2=sorted(l)[-1]
l2

72

In [15]:
##Python program to find smallest number in a list

l=[17,22,33,4,54,66,70,62,72]

#way1
a1=min(l)
a1

#way2
l2=sorted(l)[0]
l2

#way3
l.sort()
l[0]

4

In [16]:
#Python program to find second largest number in a list
l=[17,22,33,4,54,66,70,62,72]

#way1
l2=sorted(l)[-2]
l2

#way2
l2=sorted(l,reverse=True)[1]
l2

70

In [17]:
#Python program to print even and odd numbers in a list

l=[17,22,33,4,54,66,70,62,72]
even=[]
odd=[]

for i in l:
  if i%2==0:
    even.append(i)
  else:
    odd.append(i)

print("even numbers are- ",even)

print("odd numbers are- ",odd)

even numbers are-  [22, 4, 54, 66, 70, 62, 72]
odd numbers are-  [17, 33]

In [18]:
#Python program to print all even numbers in a range

even=[]
odd=[]

for i in range(10,100):
  if i%2==0:
    even.append(i)
  else:
    odd.append(i)

print("even numbers are- ",even)

print("odd numbers are- ",odd)

even numbers are-  [10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
odd numbers are-  [11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [19]:
#Python program to count Even and Odd numbers in a List
l=[17,22,33,4,54,66,70,62,72]
even=[]
odd=[]

for i in l:
  if i%2==0:
    even.append(i)
  else:
    odd.append(i)

print("count of even numbers are- ",len(even))

print("count of odd numbers are- ",len(odd))

count of even numbers are-  7
count of odd numbers are-  2

In [20]:
#Python program to print positive numbers in a list
l=[17,22,33,-4,-54,66,70,62,-72]
p=[]
n=[]

for i in l:
  if i>=0:
    p.append(i)
  else:
    n.append(i)

print("Positive numbers are- ",len(p))

print("Negetive numbers are- ",len(n))

Positive numbers are-  6
Negetive numbers are-  3

In [21]:
#Python program to print all positive numbers in a range

p=[]
n=[]

for i in range(-10,30):
  if i>=0:
    p.append(i)
  else:
    n.append(i)

print("positive numbers are- ",p)

print("negetive numbers are- ",n)

positive numbers are-  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
negetive numbers are-  [-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [22]:
#Python program to print all positive numbers in a range

p=[]
n=[]

for i in range(-10,30):
  if i>=0:
    p.append(i)
  else:
    n.append(i)

print("count of positive numbers are- ",len(p))

print("count of negetive numbers are- ",len(n))

count of positive numbers are-  30
count of negetive numbers are-  10

In [23]:
l=[17,22,33,4,54,66,70,62,72]

remove_list=[22,66]
for i in l:
  if i in remove_list:
    l.remove(i)
print(l)

[17, 33, 4, 54, 70, 62, 72]

In [24]:
#Remove empty tuples from a list

tuples = [(), ('ram','15','8'), (), ('laxman', 'sita'),('krishna', 'akbar', '45'), ('',''),()]
for i in tuples:
  if len(i)==0:
    tuples.remove(i)

tuples

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]

In [25]:
#Program to print duplicates from a list of integers
l = [10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20, -20]

ul=[]
for i in l:
  c=0
  c=l.count(i)
  if c > 1:
    if i not in ul:
      ul.append(i)
    else:
      pass

ul

[20, 30, -20, 60]

In [26]:
#Python program to Remove the last element from list

l = [10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20]

#way1
l.pop()
print(l)

#way2
l=l[:-1]
print(l)

#way3
del l[-1]
print(l)

[10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60]
[10, 20, 30, 20, 20, 30, 40, 50, -20, 60]
[10, 20, 30, 20, 20, 30, 40, 50, -20]

In [27]:
#Python – Find index of maximum item in list

l = [10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20]
l1=max(pd.Series(l).value_counts())
l1

3

In [28]:
#Remove elements larger than a specific value from a list in Python

l = [10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20]

for i in l:
  if i>40:
    l.remove(i)

l

[10, 20, 30, 20, 20, 30, 40, -20, 60, -20]

In [29]:
#Python Program to get Maximum product of elements of list in a 2D list
import numpy as np
l=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

l2=[]
for i in l:
  l2.append(np.prod(i))

m=max(l2)

m

504

In [30]:
#Python program to find the sum of a Sublist

#way1
l = [10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20]
sum_of_list=sum(l[3:8])
sum_of_list

#way2
l = [10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20]
s=0
for i in l[3:8]:
  s=s+i

s

160

In [31]:
#Python Program to Square Each Odd Number in a List using List Comprehension

l = [11, 23, 30, 20, 25, 30, 40, 59, -11, 60, 60, -20]
sq=[]
for i in l:
  if i%2!=0:
    sq.append(i**2)

print(sq)

#way2
result=[i**2 for i in l if i%2!=0 ]
result

[121, 529, 625, 3481, 121]

[121, 529, 625, 3481, 121]

In [32]:
#Remove common elements from two list in Python

l1 = [11, 23, 30, 20, 25, 30, 40, 59, -11, 60, 60, -20]

l2 = [10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20]


for i in l1[:]:
  if i in l2:
    l1.remove(i)
    l2.remove(i)
  else:
    pass
print(list(l1))
print(list(l2))

[11, 23, 25, 59, -11]
[10, 20, 20, 50, -20]

In [33]:
#Python – Get the indices of all occurrences of an element in a list
l2 = [10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20]
item=20
s=[i for i in range(len(l2)) if l2[i]==item]
s

[1, 3, 4]

In [34]:
#Find Index containing String in List

l2 = [10, 20, "22", 20, "99", 30, 40, 50, "999", 60, 60, -20]

s=[i for i in range(len(l2)) if type(l2[i]) == str]
s

[2, 4, 8]

In [35]:
#Concatenate two list of lists Row-wise

l1 = [[4, 3, 5], [1, 2, 3], [3, 7, 4]]
l2 = [[1, 3], [9, 3, 5, 7], [8]]

a1=[]
c=0

for i in l1[:]:
  a1.append(i+l2[c])
  c=c+1

a1

[[4, 3, 5, 1, 3], [1, 2, 3, 9, 3, 5, 7], [3, 7, 4, 8]]

In [36]:
# Remove empty List from List

#way1
l = [10, [], 30, [], 20, 30, 40, [], [], 60, 60, -20]
n=[]
for i in l:
  if i !=[]:
    n.append(i)
print(n)

#way2
l = [10, [], 30, [], 20, 30, 40, [], [], 60, 60, -20]
r=list(filter(None,l))
r

[10, 30, 20, 30, 40, 60, 60, -20]

[10, 30, 20, 30, 40, 60, 60, -20]

In [47]:
#Uncommon elements in Lists of List
t1 = [ [1, 2], [3, 4], [5, 6] ]
t2 = [ [3, 4], [5, 7], [1, 2] ]
t3=[]
for i in t1:
  if i not in t2:
    t3.append(i)
for n in t2:
  if n not in t1:
    t3.append(n)
t3

[[5, 6], [5, 7]]

In [55]:
#Python program to select Random value from list of lists
from itertools import chain
import random
l2 = [[4, 5, 5], [2, 7, 4], [8, 6, 3]]
a=random.choice(list(chain.from_iterable(l2)))
a

6

In [58]:
#Python – Reverse Row sort in Lists of List
l2 = [[4, 5, 5], [2, 7, 4], [8, 6, 3]]

for i in l2:
  i.sort(reverse=True)

l2

[[5, 5, 4], [7, 4, 2], [8, 6, 3]]