<a href="https://colab.research.google.com/github/ImSumitJadhav/Python/blob/main/List_Methods_and_Interview_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **List**

In [ ]:
l=["red","green","blue","yellow","black"]

**1.How to append element in list**

In [ ]:
#Adds an element at the end of the list
l.append("white")
l

['red', 'green', 'blue', 'yellow', 'black', 'white']

**2.How to copy list**

In [ ]:
#Returns a copy of the list
copy_list=l.copy()
copy_list

['red', 'green', 'blue', 'yellow', 'black', 'white']

In [ ]:
#Returns a copy of the list
copy_list2=l
copy_list2

['red', 'green', 'blue', 'yellow', 'black', 'white']

**3.How to find count of variable in the list**

In [ ]:
#Returns the number of elements with the specified value
l.count("black")

1

**4.How to add multiple elements to the list**

In [ ]:
#Add the elements of a list (or any iterable), to the end of the current list
list2=["ford","suzuki","jeep"]
l.extend(list2)
l

['red', 'green', 'blue', 'yellow', 'black', 'white', 'ford', 'suzuki', 'jeep']

**5.How to get index of a element**

In [ ]:
#Returns the index of the first element with the specified value
l.index("black")

4

**6.How to insert one element to particuler position**

In [ ]:
#Adds an element at the specified position
l.insert(3,"orrange")
l

['red',
 'green',
 'blue',
 'orrange',
 'yellow',
 'black',
 'white',
 'ford',
 'suzuki',
 'jeep']

**7.How to remove element in the list**

In [ ]:
#Removes the element at the specified position(if not given then it will remove last value in the list)
l.pop(3)
l

['red', 'green', 'blue', 'yellow', 'black', 'white', 'ford', 'suzuki', 'jeep']

In [ ]:
#on the basis of value
l.remove("black")
l

['red', 'green', 'blue', 'yellow', 'white', 'ford', 'suzuki', 'jeep']

**8.How to reverse the list**

In [ ]:
#Reverses the order of the list
l.reverse()
l

['jeep', 'suzuki', 'ford', 'white', 'yellow', 'blue', 'green', 'red']

**9.How to sort list**

In [ ]:
#Sorts the list
#ascending
l.sort()
l

['blue', 'ford', 'green', 'jeep', 'red', 'suzuki', 'white', 'yellow']

In [ ]:
#descending
l.sort(reverse=True)
l

['yellow', 'white', 'suzuki', 'red', 'jeep', 'green', 'ford', 'blue']

**10.How to clear all elements in the list**

In [ ]:
#Removes all the elements from the list
l.clear()
l

[]

# **Interview questions**

In [ ]:
l2=[1,2,3,4,5,6,6,6,"red","black"]

**1. Check if a list contains an element**

In [ ]:
print(6 in l2)

True

**2.How to remove duplicate items in list**

In [ ]:
clean_list=list(set(l2))
clean_list

[1, 2, 3, 4, 5, 6, 'black', 'red']

**3.Find the index of the 1st matching element**

In [ ]:
l2.index(6)

5

**4.How to remove all elements in the list**

In [ ]:
l3=l2.copy()
l3.clear()
l3

[]

**5.How to concatinate two lists**

In [ ]:
list1=[1,2,3,4,5]
list2=[6,7,8,9]
con_list=list1+list2
con_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

**6.How to check if an element is not in a list?**

In [ ]:
list1=[1,2,3,4,5]
print(5 not in list1)

False

In [ ]:
list1=[1,2,3,4,5]
print(5 in list1)

True

**7. Combine 2 lists into a list of tuples with the zip function**

In [ ]:
alphabet = ['a', 'b', 'c']
integers = [1, 2, 3]
list(zip(alphabet, integers))

[('a', 1), ('b', 2), ('c', 3)]

**8.How to Write a Python program to sum all the items in a list**

In [ ]:
sum_of_list=sum(list1)
sum_of_list

15

**9.How to Write a Python program to multiply all the items in a list**

In [ ]:
import numpy as np
mul_of_list=np.prod(list1)
mul_of_list

120

**10.Write a Python program to get the largest number from a list**

In [ ]:
max_num=max(list1)
max_num

5

**11.Write a Python program to get the smallest number from a list**

In [ ]:
min_num=min(list1)
min_num

1